<div class="sidebar-nav">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id='side-menu'>
            <% selection.each do |x|%>
                <li onclick= '<%=function_name%>("<%= x %>")'> <%= x %><br>
            <% end %>
        </ul>
    </div>
</div>