<div id="legend_panel" class="data_panel">
    <button class="button" onclick="removeMarker()">clear tweets</button>
</div>

<div id="googleMap" style="width:100%;height:100%;"></div>

<script type="text/javascript">
initializeRealtimeMap();
</script>