<div id="scenario_sidebar">
    <%= render :partial => '/portal/sidebar', :locals => {:selection=> @selection,:function_name=>"setComparisonChartData"}%>
</div> 
<div class="charts">
    <div id="comparison-chart-container" style="min-width: 310px; height: 600px; margin: 0 auto; padding-top: 70px"></div>
</div>
<div id="myProgress">
  <div id="myBar"></div>
</div>

<script type="text/javascript">
initScenarioChart();
</script>