<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="user-container" style="min-width: 310px; height: 400px; margin: 0 auto; padding-top: 70px"></div>
<div id="topic-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
getTop20();
</script>
