<div id="user-container" style="min-width: 310px; height: 400px; margin: 0 auto; padding-top: 70px"></div>
<div id="topic-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
getTop20();
</script>
