<% @container.each_with_index do |c,i|%>
    <div id="<%=c%>-container" style='min-width: 310px; height: 400px; margin: 0 auto; <%= i==0 ? "margin-top: 70px" : ""%>'></div>
<% end%>
<script type="text/javascript">
getTop20();
</script>
