<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<%= render 'sidebar' %>

<div class="charts">
    <div id="mood-charts" style="min-width: 310px; height: 600px; margin: 0 auto; padding-top: 70px"></div>
</div>

<script type="text/javascript">
initCharts();
</script>

