.polygonLabel {
   color: black;
   background-color: rgba(256, 256, 256, 0.7);
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   width: 160px;     
   border: 1px black;
   word-wrap: normal;
}

.data_panel{
    position: absolute;
    margin-left: 15px;
    z-index: 1000;
    padding: 6px 8px;
    font: 14px/16px "Lucida Grande", "Arial", sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#data_display_panel{
    width: 260px;
    margin-top: 65px;
    right: 5px;
}

#feature_panel {
    margin-top: 65px;
}

#legend_panel {
    margin-top: 300px;
}