.navbar {
   background-color: rgba(0,0,0,0.6);
   background: rgba(0,0,0,0.6); 
   border: 0;
   margin-bottom: 0;
}
.navbar-header span {
   padding-left: 30px;
   padding-right: 50px;
   color: white;
   font-family: myriad;
}
.nav .image {
   padding-right: 25px;
   color: white;
}
.nav .navcontent {
   color: white;
   font-family: myriad;
   font-size: 15px;
}
.nav .navcontent:hover {
   color: gray;
}
.nav li {
   padding-right: 30px;
}

#myProgress {
  position: relative;
  display: none;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
}

#welcome{
  background: linear-gradient(to left, #114357 , #F29492);
  width: 100%;
  height: 100%;
}

#team-table{
  padding-top:100px;
  padding-left:200px;
  padding-right:200px;
}
#team-pic{
    width:540px; /* you can use % */
    height: auto;
}